{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>Computer: {{ computer.manufacturer }} {{ computer.model }}</h1>
    <p>Purchased: {{ computer.purchase_date }}</p>
    
    {% if computer.decommission_date %}
        <p>Decommission Date: {{ computer.decommission_date }}</p>
    {% endif %}

    <section id="computer-actions" style="display:flex;">
        <form action="{% url 'hrapp:computer' computer.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
    </section>

{% endblock %}