{% extends 'shared/base.html' %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <charset = 'utf-8'>
        <title>HRAPP</title>
    </head>
    <body>
        {% block content %}

        <h1>New Computer Details</h1>
        {% if computer.id is not None %}
            <form action="{% url 'hrapp:computer' computer.id %}">
        {% else %}
        <form action = "{% url 'hrapp:computer_list' %}" method = "post">
        {% endif %}
            {% csrf_token %}
            <fieldset>
                <label for = "manufacturer">Manufacturer</label>
                <input id = "manufacturer" type = "text" name = "manufacturer" value = "{{computer.manufacturer}}" />
            </fieldset>
            <fieldset>
                <label for = "model">Model</label>
                <input id = "model" type = "text" name = "model" value = "{{computer.model}}" />
            </fieldset>
            <fieldset>
                <label for = "purchase_date">Purchase Date</label>
                <input id="purchase_date" type = "date" name="purchase_date" value = "{{computer.purchase_date}}" />
            </fieldset>
            {% if computer.id is not None %}
            <fieldset>
                <label for ="decommission_date">Decommission Date</label>
                <input id="purchase_date" type = "date" name="decommission_date" value = "{{computer.decommission_date}}" />
            </fieldset>
            {% endif %}
            <fieldset>
                <input type = "submit" value="Create" />
            </fieldset>
        </form>

        {% endblock %}
    </body>
</html>