{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bangazon Workforce Management</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />

    {% block css %}
    {% endblock %}
</head>

<body>
    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'hrapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'hrapp:employee_list' %}">Employees</a></li>
            <li class="navList__route"><a href="{% url 'hrapp:department_list' %}">Departments</a></li>
            <li class="navList__route"><a href="{% url 'hrapp:computer_list' %}">Computers</a></li>
            <li class="navList__route"><a href="{% url 'hrapp:training_list' %}">Training Programs</a></li>

            {% if user.is_authenticated %}
                <li class="navList__route"><a href="{% url 'hrapp:logout' %}">Logout</a></li>  
            {% else %}
                <li class="navList__route"><a href="{% url 'hrapp:login' %}">Login</a></li>   
            {% endif %}

        </ol>
    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>
