{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Department</title>
  </head>
  <body>
    <h1>Add Department</h1>


    <form action="{% url 'hrapp:department_list'  %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="dept-name">Department Name: </label>
          <input id="dept-name" type="text" name="dept-name">
      </fieldset>
      <fieldset>
          <label for="budget">Budget: </label>
          <input id="budget" type="text" name="budget">
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
  </body>
</html>