{% extends 'shared/base.html' %}

{% block content %}
<h1>Employees</h1>


<a href = "{% url 'hrapp:employee_form' %}">Add Employee to Bangazon</a>

<ol>
{% for employee in employees %}
  {% if user.is_authenticated %}
  <a href="{% url 'hrapp:employee' employee.id %}"> 
  {% endif %}
  <li> <p>{{ employee }} -  Current department: {{employee.department.name}}</p></li>
  </a>
{% endfor %}
</ol>

{% comment %}
 <a href="{% url 'hrapp:computer' computer.id %}">
{% endcomment %}

{% endblock content %}
