{% extends 'shared/base.html' %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <charset = 'utf-8'>
        <title>HRAPP</title>
    </head>
    <body>
        {% block content %}

        <h1>New Employee Details</h1>
        <form action = "{% url 'hrapp:employee_list' %}" method = "post">
            {% csrf_token %}
            <fieldset>
                <label for = "first">First Name</label>
                <input id = "first" type = "text" name = "first" value = "{{employee.first_name}}" />
            </fieldset>
            <fieldset>
                <label for = "last">Last Name</label>
                <input id = "last" type = "text" name = "last" value = "{{employee.last_name}}" />
            </fieldset>
            <fieldset>
                <label for = "start_date">Start Date</label>
                <input id="start_date" type = "date" name="start_date" value = "{{employee.start_date}}" />
            </fieldset>
            <fieldset>
                <label for="department">Department </label>
                 <select id="department" type="text" name="department">
                {% for department in all_departments %}
                    <option value="{{department.id}}">
                    {{department.dept_name}}
                    </option>
                {% endfor %}
                </select>
            </fieldset>

            <fieldset>
                <label for ="is_supervisor">Is Supervisor</label>
                <input id="is_supervisor_no" type = "radio" name="is_supervisor" value = "0" />
                <label for="is_supervisor_no">No</label>
                <input id="is_supervisor_yes" type = "radio" name="is_supervisor" value = "1" />
                  <label for="is_supervisor_yes">Yes</label>
            </fieldset>
            <fieldset>
                <input type = "submit" value="Create" />
            </fieldset>
        </form>

        {% endblock %}
    </body>
</html>